<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <title>WebRTC-Proto</title>
</head>

<body>
    <div class="main">
        <h1>WebRTC Proto</h1>
        <div class="video-group">
            <div id="video-grid">

            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>